body {
    height: 95vh;
}
header .logos .logo-sc {
    width: 350px;
}
header .logos .logo-sc img {
    width: 100%;
}

header .join {
    display: flex;
    flex-direction: column;
    align-items: center;
}
header .join h3 {
    font-weight: 200;
    color: #fff;
}
header .join .btns {
    display: flex;
    flex-direction: column;
    align-items: center;
}


@media only screen and (max-width: 400px) {
    body {
        width: 100%;
    }
    header .logos .logo-sc {
        width: 80%;
    }
}