* {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    text-decoration: none;
}
body {
    width: 400px;
    padding-top: 20px;
    margin: auto;
    background-color: #1a1a1a;
    display: flex;
    flex-direction: column;
}
header{
    height: 15%;
}
main{
    height: 70%;
}
footer{
    height: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
}
footer h2{
    color: white;
    font-family: 'Inter';
    font-size: 15px;
    font-weight: 400;
}
header .head {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
}
header .head .logo-mtc {
    width: 30%;
    margin: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
}
header .head .logo-mtc img {
    width: 40%;
}
header .head .prev {
    width: 60%;
    margin: 20px;
}
header .head .prev a{
    color: white;
}