.title{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 61px;
    color: #0073FE;
   text-align: center;
   margin-top: 5%;

}
form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
form .bloc{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin-top: 6%;
}

main form .ins {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
main form .ins .bloc .frm-label {
    text-align: left;
    width: 100%;
    margin-bottom: 15px;

}
